<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
		/>
		<title>{{page}} - Andrew's Web Dev Services</title>
		<!-- viewport meta to render pages on mobile properly -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- link to google fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
			rel="stylesheet"
		/>

		<!-- https://cdnjs.com/libraries/font-awesome -->
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
			rel="stylesheet"
		/>

		<!-- link to my CSS -->
		<link href="style.css" rel="stylesheet" />		<!-- this is for auto reload during development. wont work if changing a file that jquery is loading-->
		<script
			type="text/javascript"
			src="https://livejs.com/live.js"
		></script>

	</head>
	<body>
		{{{body}}}
		<script src="script.js"></script>
	</body>
</html>