{{>header}}
<main class="main-template main-grid">
	<h1 class="page-title">About us.</h1>
	<p class="subtitle">
		I'm a web developer based in California. I can help you in e-commerce, databases, user sign-up, cyber-security, cloud deployment, and more.
	</p>

	<img
		class="main-image"
		src="./img/celebrate.png"
		alt="a man wearing goggles"
	/>

	<div class="main-text">
		<h2 class="section-title">We're really great guys</h2>
			<p>
				I am very open on what I can and can't do. 
				<strong>Transparency is priority</strong>.
			</p>
		<p>
			I have created all sorts of web apps such as an Instagram Clone that features React and User Authentication, an Amazon Clone that features the Stripe payment API, a React Native mobile app that tracks workouts, NoSQL and SQL databases hosted on Amazon Web Services and Google Cloud Platform, Server-side rendering with Node and Express, and more. If I don't know what you are looking for, <strong>I can learn it right away.</strong>
		</p>

	</div>
</main>
{{>footer}}