{{>header}}
<main>
	<section class="hero main-grid">
		<h1 class="hero-title">
			The web development company on
			<span class="accent-color">a mission</span>, dedicated to increase your web traffic.
		</h1>
		<p class="hero-subtitle">
			I'm a software developer from Silicon Valley at your service. I can help you in
			<strong>cyber security, databases, e-commerce</strong> and whatever else your company needs.
		</p>
		<a href="contact" class="btn btn-primary">contact</a>
	</section>

	<section class="info main-grid">
		<div class="col">
			<h2 class="section-title section-title-center">About Me</h2>
			<p>
				I am very open on what I can and can't do. 
				<strong>Transparency is priority</strong>.
			</p>
		</div>
		<div class="col">
			<h2 class="section-title section-title-center">My skills</h2>
			<p>
				I'm proficient in
				<strong>React, Databases, Cloud</strong>. If I don't know the technology you are looking for <strong> I will learn it.</strong>
			</p>
		</div>
		<div class="col">
			<h2 class="section-title section-title-center">Get in touch</h2>
			<p>
				Send us an email with some info about what help you need and
				<strong>I'll respond as soon as I can</strong>.
			</p>
		</div>
	</section>
</main>
{{>footer}}